*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: skyblue;
    position: relative;
    background-image: url(images/c.jpg);
    background-size: cover;
    background-position:center;
}

#bird{
    height: 100px;
    width:90px;
    position: fixed;
    top:90px;
    left:200px;
}


#block{
    width:50px;
    height:100vh;
    background-color: black;
    position: absolute; 
    right: 0px;
    animation: block 2s infinite linear;
    z-index: 0;
}
#hole{
    width:50px;
    height:300px;
    background:rgba(255,255,255,.9);
    position: absolute; 
    right: 0px;
    top:0px;
    animation: block 2s infinite linear;
    z-index: 0;
}

@keyframes block{

    0% { right: 0px; }      
    100% { right: 100vw; }

}

#container{
    width:400px;
    height:400px;
    background-color: #387478;
    border-radius: 50%;
    margin-left: 35%;
    margin-top: 10%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    
}
.btn {
    height: 60px;
    width: 150px;
    border-radius: 20px;
    font-size: 25px;
    background-color: #387478;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    margin-top: 50px;
}

.btn:hover{
    background-color: aquamarine;
}
p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: "Edu AU VIC WA NT Dots", cursive;

}








